<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415119455752-61gjtafm75gu0dgcqbh4isqto3gqu4me.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415119455752-61gjtafm75gu0dgcqbh4isqto3gqu4me</string>
	<key>API_KEY</key>
	<string>AIzaSyDRahlUw5oi5-0t2xC9uT01cna0dxzNXXI</string>
	<key>GCM_SENDER_ID</key>
	<string>415119455752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.booksy</string>
	<key>PROJECT_ID</key>
	<string>booksy-curso-cdef3</string>
	<key>STORAGE_BUCKET</key>
	<string>booksy-curso-cdef3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415119455752:ios:45252a9ce33962530c43bd</string>
</dict>
</plist>